<p-sidebar id="mainNav" #sidebarRef [(visible)]="sidebarVisible">
  <ng-template pTemplate="headless">
    <div class="close-container">
      <p-button
        pButton
        styleClass="close-btn"
        [rounded]="true"
        [link]="true"
        [text]="true"
        (onClick)="sidebarVisible.set(false)"
      >
        <i id="nav-close" class="pi pi-times-circle"></i>
      </p-button>
    </div>
    <p-accordion expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
      @for (app of applications; track app.id) {
      <p-accordionTab class="nav-container">
        <ng-template pTemplate="header">
          <span class="font-medium">{{ app.displayName }}</span>
        </ng-template>
        @for (link of app.navigationRoutes; track link.path) {
        <ng-template pTemplate="content">
          <ul class="application-links list-none">
            <li>
              <a class="p-accordion-header-link" role="button" [routerLink]="link.path">{{ link.display }}</a>
            </li>
          </ul>
        </ng-template>
        }
      </p-accordionTab>
      }
    </p-accordion>
  </ng-template>
</p-sidebar>
