<p-sidebar id="mainNav" #sidebarRef [(visible)]="sidebarVisible">
  <ng-template pTemplate="headless">
    <p-accordion expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <span class="font-medium">FAVORITES</span>
        </ng-template>
        <ng-template pTemplate="content">
          <a routerLink="/home">Home</a>
        </ng-template>
      </p-accordionTab>
      <!-- <p-accordionTab header="header">
        your content
      </p-accordionTab>
      <p-accordionTab header="header">
        your content
      </p-accordionTab> -->
    </p-accordion>
    <!-- <ul class="list-none">
      <li>
        <a [href]="" (click)="expand('#subNav')" data-link="abc">
          <span class="font-medium">FAVORITES</span>
          <i class="pi pi-chevron-down"></i>
        </a>
        <ul #subNav class="list-none hidden">
          <li>Home</li>
        </ul>
      </li>
    </ul> -->
  </ng-template>
</p-sidebar>
