$header-edge: var(--surface-300);
$header-color: var(--surface-200);

header {
  display: flex;
  flex-flow: row wrap;
  background: $header-edge;
  background: linear-gradient(180deg, $header-edge 5%, $header-color 40%, $header-edge 95%);
  border-bottom: 1px solid var(--surface-400);
  box-shadow: 0px 3px 8px 2px $header-edge;
  height: 4rem;
  i {
    font-size: 2rem !important;
  }
}

nav {
  button:hover {
    background: none;
  }
}
